.carrousel {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
    position: relative;
    text-align: center;
    gap: 20px;
  }
.carousel__image {

    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;

}

.carousel__element {
    width: 190px;
    flex: none;
    scroll-snap-align: start;
}

.carousel__element figure {
    margin: 0;
}

/*
.carrousel__btn {
    position: absolute;
    top: 50%;
    top: calc(min(500px, 100vw) / 16 * 9 / 2 + 1rem);
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.5);
    clip-path: circle(50%);
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel__btn--avant {
    left: 0;
}

.carrousel__btn--apres {
    right: 0;
}

/* pour personnaliser graphiquement la barre d'ascenseur */

.carousel::-webkit-scrollbar-track {
    background-color: var(--noir-primaire);
}

.carousel::-webkit-scrollbar {
    height: 4px;
    background-color: var(--blanc);
}

.carousel::-webkit-scrollbar-thumb {
    background-color: var(--blanc);
}

