.formulaire {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--noir-primaire);
}

.formulairenom {
    font-family: var(--body-petit);
    color: var(--blanc);
}

.nomtext {
    background-color: var(--noir);
    font-family: var(--body-petit);
    width: 60%;
    height: 30px;
    border-color: var(--beige-intermediaire);
    border-radius: 10px;
    color: var(--blanc);
}

.prenomtext {
    background-color: var(--noir);
    font-family: var(--body-petit);
    width: 60%;
    height: 30px;
    border-color: var(--beige-intermediaire);
    border-radius: 10px;
    color: var(--blanc);
}

.emailtext {
    background-color: var(--noir);
    font-family: var(--body-petit);
    width: 100%;
    height: 30px;
    border-color: var(--beige-intermediaire);
    border-radius: 10px;
    color: var(--blanc);
}

.numerotext {
    background-color: var(--noir);
    font-family: var(--body-petit);
    width: 100%;
    height: 30px;
    border-color: var(--beige-intermediaire);
    border-radius: 10px;
    color: var(--blanc);
}

.messagetext {
    background-color: var(--noir);
    font-family: var(--body-petit);
    width: 100%;
    height: 100px;
    border-color: var(--beige-intermediaire);
    border-radius: 10px;
    color: var(--blanc);
}

.formulairenom>span {
    font-family: var(--body-petit);
    color: var(--gris-clair);
}

.formulairecontainer {
    text-align: center;

}

.formulaire__btn {
    background-color: var(--beige-intermediaire);
    font-family: 'paytone one';
    color: var(--beige-intermediaire);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-color: var(--beige-intermediaire);
    margin-top: 10px auto;
}