.hero__debut {
    height: 100vh;
    position: relative;
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--space5x);
}

.heroarticle__debut {
    height: 70vh;
    position: relative;
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--space5x);
}

.heroautre {
    height: 50vh;
    position: relative;
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--space5x);
}

.hero__image {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero__titre {
    font-family: var(--font-nunito);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-size: var(--heading-grand);
}

.hero__boutton {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.hero__chapo,
.chapo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapo__text {
    text-align: center;
    color: var(--blanc);
}