.legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.legal__titre {
    border-top: 2px solid;
    border-color: var(--beige-intermediaire);
    padding-top: var(--space2x);
}

.legal__content>a {
    color: var(--beige-intermediaire);
    text-decoration: none;
}